<h1><%= @course.name %></h1>

<p><%= @index %> / 5問 </p>

  <h2> 第 <%= @index %> 問 </h2>
  <p><%= @quiz.sentence %></p>

<%= form_with url: answer_quiz_path(id: @index), method: :post, local: true do |form| %>

  <% @choices.each do |choice| %>
    <li><%= choice.text %></li>
  <% end %>

