<h1>仮の家族ルーム画面</h1>

<% if @room.present? %>
  <p>現在参加中の家族ルーム : <%= @room.name %></P>

  <h2>この家族ルームのメンバー</h2>
  <ul>
    <% @room_members.each do |member| %>
      <li><%= member.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>現在家族ルームに属していません</p>
<% end %>

<p>今後実装するもの。
<li>・属している家族ルーム名を表示 済</li>
<li>・同じ家族ルームに属しているユーザーを一覧表示</li>
<li>・「家族ルームの編集画面」へのボタン設置 済</li>
<li>・「家族ルームに招待する」ボタンの設置 済</li>
<li>・「家族ルーム作成ボタン」の設置（一般ユーザーのみ）</li>
</p>

<%= link_to "家族ルーム作成", new_room_path %>

<% if @room.present? %>
  <%= link_to "家族ルーム編集", edit_room_path(@room) %>
  <%= link_to "家族ルームに招待する", new_room_invitation_path(@room) %>
<% else %>
  <p>家族ルームを作成もしくは参加してください</p>
<% end %>


