<h1>家族ルーム "作成" 画面</h1>

<p>この画面で実装するもの。
・家族ルーム名入力フォーム 済
・合言葉の入力フォーム 済
・ルームアイコンのファイル選択ボタン
・「作成」ボタン 済
</p>

<%= form_with model: @room do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :entry_word %>
    <%= form.text_field :entry_word %>
  </div>

  <div class="actions">
    <%= form.submit t('.submit') %>
  </div>

<% end %>